*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.App {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    border-radius: 10px;
    background: #ffffff;
    padding: 20px 40px;
}

.header {
    margin: 20px 0px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-description {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.logo-name, .logo-devis {
    margin: 0px;
    font-weight: 600;
}

.logo-name {
    text-transform: uppercase;
    color: #000000;
}

.logo-devis {
    text-transform: lowercase;
    color: #aaaaaa;
}

.header__cart {
    display: flex;
    align-items: center;
}

.header__cart span {
    padding: 10px;
}

.header__cart-button {
    border: 0px;
    outline: 0px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    border-radius: 25px;
    color: #ffffff;
    background: #ff8000;
}



.main__options {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.types {
    padding: 0px;
    display: flex;
    list-style: none;
}

.categories {
    padding: 7px 15px;
    border-radius: 10px;
    margin: 0px 3px;
    background: #e3e3e3;
    cursor: pointer;
}

.types .active {
    background: #ff8000;
    color: #ffffff;
}

.sorting {
    position: relative;
}

.filter b{
    font-weight: 500;
}

.filter__label span {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ff8000;
}

.filter__popup {
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: 160px;
    overflow: hidden;
    border-radius: 10px;
    background: #ffffff;
    color: #aaaaaa;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

.filter__label span:hover .filter__popup {
    display: block;
}

.filter__popup ul {
    padding: 0px;
    display: block;
    overflow: hidden;
    list-style: none;
}

.filter__popup ul li {
    padding: 12px 20px;
    cursor: pointer;
}

.filter__popup ul li:hover {
    color: #ff8000;
    font-weight: 600;
}

.filter__popup .active {
    color: #ff8000;
    font-weight: 600;
    background: rgba(254, 95, 30, 0.05);
}

.filter__popup ul li:active, .filter__popup ul li:hover {
}

.main__content__items {
    display: grid;
    justify-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    max-width: 260px;
    text-align: center;
}

.asd {
    padding: 0px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-around;
}

.item-dimantion {
    padding: 2px;
    border-radius: 10px;
    background: #e3e3e3;
}

.item-dimantion .active {
    background: #ffffff;
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.1);
}

.choice {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.more {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add {
    outline: 0;
    height: 40px;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 25px;
    background: #ff8000;
    border: 2px solid #ff8000;
}